﻿@model BancoTiempoApp.Models.SignUpUserModel

@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}


<div class="row">
    <div class="col-md-6 content round">
        <h2>Registra't com a usuari</h2>
        @using (Html.BeginForm("UserAdded", "User", FormMethod.Post, new {enctype = "multipart/form-data" , @class = "form-horizontal" }))
            {
            <div class="form-group">
                @Html.EditorFor(model => model, new { htmlAttributes = new { @class = "form-control", @rows = "10" } })
                <label for="file">Puja una imatge:</label>
                <input type="file" name="file" id="file" style="width: 100%" required accept="image/*"/>
                <input name="SubmitUserButton" type="submit" value="Registrar usuari" class="form-control" />
            </div>
        }
    </div>
    <div class="col-md-4" style="color:white">
        <h1>Gràcies per registrar-te a CommuniTime</h1>
        <p>Se t'enviarà un email per a què confirmis el teu compte. No intentis entrar a la pàgina fins que l'hagis confirmat.</p>
        <p>I per a assegurar-nos que pots començar a gaudir immediatament de l'intercanvi de temps, et regalem 5 hores només per registrar-te.</p>
    </div>
    <div class="col-md-2" style="color:white">
        <h1><span class="glyphicon big-glyphicon glyphicon-envelope"></span></h1>
    </div>
</div>
