﻿@model WebApplication2.Models.EditUserModel

@{
    ViewBag.Title = Model.name + " " + Model.surname;
}

<h2>Edita el teu usuari</h2>
<div>
    @using (Html.BeginForm("UserEditted", "User", new { id = Model.id }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-group" }))
    {
        <div class="col-sm-6 form-group">
            @Html.EditorFor(model => model, new { htmlAttributes = new { @class = "form-control", @rows = "10" } })
            <label for="file">Puja una imatge:</label>
            <input type="file" name="file" id="file" style="width: 100%" accept="image/*" class="form-control" />
            <input name="SubmitUserButton" type="submit" value="Edita l'usuari" class="form-control" />
        </div>
    }
</div>

