﻿
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

<div class="col-md-6 content round" style="text-align:justify">
    <h2>Ara t'enviarem el correu per a què restableixis la teva contrasenya</h2>
    @using (Html.BeginForm("PasswordResetEmailSent", "User", null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <input type="text" placeholder="Quin és el teu email?" id="email" name="email" class="form-control" />
        <input name="SendConfirmationEmailButton" type="submit" value="Envia'm el correu" class="form-control" />

    }
</div>

