﻿@using BancoTiempoApp.Models
@model LoginUserModel

@{
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
    ViewBag.Title = "Entra a la pàgina";
}


<div class="row">
    <div class="col-md-6 center round content">
        <h2>Entra a la pàgina amb el teu usuari</h2>
        @using (Html.BeginForm("CheckUser", "User", FormMethod.Post, new { @class = "form-group" }))
            {
            @Html.EditorFor(model => model, new { htmlAttributes = new { @class = "form-control", @rows = "10" } })
            <input name="=" SubmitUserButton type="submit" value="Entra" class="btn btn-default" />
        }
        <div class="small">
            @Html.ActionLink("He oblidat la meva contrasenya", "ForgotPassword"),
            @Html.ActionLink("Torna'm a enviar l'email de confirmació", "ResendConfirmationEmail")
        </div>
        <h3>Encara no estic registrat</h3>
        @Html.ActionLink("Registra'm", "AddUser", null, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4" style="text-align:justify ;color:white;">
        <h1 style="text-align:right">CommuniTime</h1>
        <p>CommuniTime és una plataforma on els usuaris intercanvien favors o serveis entre ells mitjançant una divisa virtual que simbolitza el temps que s'ha dedicat al favor.</p>
        <p>Amb aquesta iniciativa, l'equip de Communitime busca crear relacions professionals en què els diners no hi estiguin involucrats.</p>
    </div>
    <div class="col-md-2 resize">
        <img src=@Url.Content("~/Content/Images/LogoCommunitime2912360108006031010.png") width="200">
    </div>
</div>
