﻿
@{
    ViewBag.Title = "Correu enviat";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

<div class="content round col-md-6">
    <h2>S'ha enviat el correu</h2>
    <p>Revisa la teva bústia virtual, el rebràs en els propers 5 minuts.</p>
</div>
