﻿
@{
    ViewBag.Title = "Torna'm a enviar el correu de confirmació";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

<div class="content round col-md-6">
    <h2>Ara et tornarem a enviar el correu de confirmació</h2>
    @using (Html.BeginForm("ConfirmationEmailSent", "User", null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
    <input type="text" placeholder="Quin és el teu email?" id="email" name="email" class="form-control" />
    <input name="SendConfirmationEmailButton" type="submit" value="Envia" class="form-control" />
    }
</div>

