﻿@model WebApplication2.Models.ResetPasswordModel

@{
    ViewBag.Title = "Restableix la teva contrasenya";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}
<div class="content round col-md-6">
    <h2>Restableix la teva contrasenya</h2>

    @using (Html.BeginForm("PasswordReset", "User", new { userID = Model.id }, FormMethod.Post, new { @class = "form-horizontal" }))
    {

        <div class="form-group">
            @Html.EditorFor(model => model, new { htmlAttributes = new { @class = "form-control", @rows = "10" } })
            <input name="SubmitNewPasswordButton" type="submit" value="Restableix" class="form-control" />
        </div>

    }
</div>