﻿@model BancoTiempoApp.Models.UserShowModel

@{
    ViewBag.Title = "El meu compte";
}

<ul class="nav nav-tabs">
    <li class="active">
        <a data-toggle="tab"
           href="#info">La meva informació</a>
    </li>
    <li><a data-toggle="tab" href="#offers">Les meves ofertes</a></li>
    <li><a data-toggle="tab" href="#demands">Les meves demandes</a></li>
</ul>
<div class="tab-content">
    <div id="info" class="tab-pane fade in active">
        <div class="col-sm-8">
            <h2>@Model.user.userName @Model.user.userSurname</h2>
            <div class="small">@Html.ActionLink("Edita el meu usuari ", "EditUser", "User", new { id = Model.user.userID}, null)<span class='glyphicon glyphicon-pencil'></span></div>
            <div class="resize">
                <img src=@Url.Content("~/Content/Images/" + Model.user.userImagePath) alt="Imatge d'usuari no disponible">
            </div>
            <div class="small">
                <p>País: @Model.user.userCountry</p>
                <p>Ciutat: @Model.user.userCity</p>
            </div>
        </div>
    </div>
    <div id="offers" class="tab-pane fade">
        <h2>@Model.user.userName @Model.user.userSurname</h2>
        <h3>Les meves ofertes</h3>
        <div class="row">
            @foreach (var offer in Model.userOffers)
            {
                <div class="col-sm-3 content round">
                    <h6>@offer.offerName</h6>
                    <div class="resize">
                        <a href="@Url.Action("OfferShow","Offer", new { id = offer.offerID })">
                            <img class="img-rounded" src=@Url.Content("~/Content/Images/" + offer.offerImagePath) width="260" />
                        </a>
                    </div>
                    <p>@offer.offerDescription</p>
                </div>
                <div class="col-sm-1"></div>
            }
        </div>
    </div>

    <div id="demands" class="tab-pane fade">
        <h2>@Model.user.userName @Model.user.userSurname</h2>
        <h3>Les meves demandes</h3>
        <div class="row">
            @foreach (var demand in Model.userDemands)
            {
                <div class="col-sm-3 content round">
                    <h3>@demand.demandName</h3>
                    <div class="resize">
                        <a href="@Url.Action("DemandShow","Demand", new { id = demand.demandID })">
                            <img class="img-rounded" src=@Url.Content("~/Content/Images/" + demand.demandImagePath) width="260" />
                        </a>
                    </div>
                    <p>@demand.demandDescription</p>
                </div>
                <div class="col-sm-1"></div>
            }
        </div>
    </div>
</div>
