﻿@model BancoTiempoApp.Models.GetUserDisplayModel

@{
    ViewBag.Title = "GetNewMessages";
    Layout = null;
}

<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="badge" id="message-count">@Model.Messages.Count</span> Nous Missatges <span class="caret"></span></a>
    <ul class="dropdown-menu" id="new-messages">
        @foreach (var message in Model.Messages)
        {
            <li>@Html.ActionLink(message.messageFromUserName + ":" + message.messageBody, "ChatShow", "Chat", new { id = message.chatGroupID }, null) </li>
        }
    </ul>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Els meus xats<span class="caret"></span></a>
    <ul class="dropdown-menu" id="my-chats">
        @foreach (var chatGroup in Model.Chats)
        {
            <li>@Html.ActionLink(chatGroup.offerOrDemandName + chatGroup.LastMessage.messageFromUserName + ":" + chatGroup.LastMessage.messageBody ,"ChatShow","Chat",new { id = chatGroup.chatGroupID },null)</li>
        }
    </ul>
</li>
<li> <a href="#">Tens @Model.Time h per gastar <span class="glyphicon glyphicon-time"></span></a> </li>


