﻿@model BancoTiempoApp.Models.DemandShowModel

@{
    ViewBag.Title = Model.demand.demandName;
}

<div class="row">
    <div class="col-sm-6">
        <h1>@Model.demand.demandName</h1>

        <img src=@Url.Content("~/Content/Images/" + Model.demand.demandImagePath) />

        <p>
            @Model.demand.demandDescription
        </p>

        <p>
            @Model.demand.demandTags
        </p>
        @Html.ActionLink("Envia un missatge a l'usuari", "DemandChat", new { Model.demand.demandID }, new { @class = "btn btn-default btn-lg" })
        @Html.ActionLink("Veure el perfil d'aquest usuari", "UserShow", "User", new { id = Model.demand.userID }, new { @class = "btn btn-default btn-lg" })
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-4">
        @foreach (var demand in Model.similarDemands)
        {
            <div class="content round resize">
                <img class="img-rounded" style="align-self:center" src=@Url.Content("~/Content/Images/" + demand.demandImagePath) width="150" />
                <h3>@Html.ActionLink(demand.demandName, "OfferShow", "Offer", new { id = demand.demandID }, null)</h3>
                <p>@demand.demandDescription</p>
            </div>
        }
    </div>
</div>