﻿@model BancoTiempoApp.Models.DemandListModel

@{
    ViewBag.Title = "Busca una demanda";
}

<h2>Llista de demandes</h2>

<section class="container">
    <div class="row">
        @foreach (var demand in Model.Demands)
        {
            <div class="col-md-3 content round">
                <h6>@demand.demandName</h6>
                <div class="resize">
                    <a href="@Url.Action("DemandShow", new { id = demand.demandID })">
                        <img src=@Url.Content("~/Content/Images/" + demand.demandImagePath) width="200" />
                    </a>
                </div>
                <p>@demand.demandDescription</p>
            </div>
            <div class="col-md-1"></div>
        }
    </div>
</section>
@using (Html.BeginForm("DemandList", "Demand", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        @Html.EditorFor(model => model, new { htmlAttributes = new { @class = "form-control", @rows = "10" } })
        <input name="SubmitDemandSearchButton" type="submit" value="Busca" class="form-control" />
    </div>
}