﻿@model WebApplication2.Models.EditDemandModel

@{
    ViewBag.Title = Model.title;
}

<h2>Edita la demanda</h2>
<div>
    @using (Html.BeginForm("DemandEditted", "Demand", new { id = Model.id }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-group" }))
    {
        <div class="col-sm-6 form-group">
            @Html.EditorFor(model => model, new { htmlAttributes = new { @class = "form-control", @rows = "10" } })
            <label for="file">Upload Image:</label>
            <input type="file" name="file" id="file" style="width: 100%" accept="image/*" class="form-control" />
            <input name="SubmitDemandButton" type="submit" value="Edita" class="form-control" />
        </div>
    }
</div>
