﻿@model BancoTiempoApp.Models.OwnDemandShowModel

@{
    ViewBag.Title = Model.demand.demandName;
}

<div class="row">
    <div class="col-sm-6">
        <h2>@Model.demand.demandName</h2>
        <img class="img-rounded" src=@Url.Content("~/Content/Images/" + Model.demand.demandImagePath) width="400"/>
        <div class="small">@Html.ActionLink("Edit demand", "EditDemand", "Demand", new { id = Model.demand.demandID }, null)<span class='glyphicon glyphicon-pencil'></span></div>
        <p>@Model.demand.demandDescription</p>
        <p>@Model.demand.demandTags</p>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-4">
        @foreach (var offer in Model.similarOffers)
        {
            <a href="@Url.Action("OfferShow","Offer", new {id = offer.offerID})">
                <div class="content round resize">
                    <img class="img-rounded" style="align-self:center" src=@Url.Content("~/Content/Images/" + offer.offerImagePath) width="150" />
                    <h3>@offer.offerName</h3>
                    <p>@offer.offerDescription</p>
                </div>
            </a>
            <br />
        }
    </div>
</div>
