﻿@model WebApplication2.Models.SubmitDemandModel

@{
    ViewBag.Title = "Crea una demanda";
}


<div class="row">
    <div class="col-sm-5 content round">
        <h2>Crea una demanda</h2>
        @using (Html.BeginForm("DemandSubmitted", "Demand", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-group" }))
        {
            @Html.EditorFor(model => model, new { htmlAttributes = new { @class = "form-control", @rows = "10" } })
            <label for="file">Upload Image:</label>
                <input type="file" name="file" id="file" style="width: 100%" required accept="images/*" />
                <input name="SubmitDemandButton" type="submit" value="Submit Demand" class="form-control" />
        }
    </div>
    <div class="col-sm-3"></div>
    <div class="col-sm-4">
        <h3>Veiem que necessites un expert</h3>
        <small>Per què no busques entre les ofertes existents?</small>
        @using (Html.BeginForm("SearchOffer", "Offer", FormMethod.Post, new { @class = "form-horitontal" }))
        {
            <div class="form-group">
                <input type="text" placeholder="Busca una oferta" id="offerSearch" name="offerSearch" class="form-control" />
                <input name="SubmitOfferSearchButton" type="submit" value="Buscar" class="form-control" />
            </div>
        }
    </div>
</div>
