﻿@model WebApplication2.Models.EditOfferModel

@{
    ViewBag.Title = Model.title;
}

<h2>Edita la oferta</h2>
<div>
    @using (Html.BeginForm("OfferEditted", "Offer", new { id = Model.id }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-group" }))
    {
        <div class="col-sm-6 form-group">
            @Html.EditorFor(model => model, new { htmlAttributes = new { @class = "form-control", @rows = "10" } })
            <label for="file">Puja una imatge:</label>
            <input type="file" name="file" id="file" style="width: 100%" accept="image/*" class="form-control"/>
            <input name="SubmitOfferButton" type="submit" value="Edita l'oferta" class="form-control" />
        </div>
    }
</div>
