﻿@model BancoTiempoApp.Models.OfferShowModel

@{
    ViewBag.Title = Model.offer.offerName;
}
<div class="row">
    <div class="col-sm-6">
        <h1>@Model.offer.offerName</h1>

        <img class="img-rounded" src=@Url.Content("~/Content/Images/" + Model.offer.offerImagePath) />

        <p>
            @Model.offer.offerDescription
        </p>

        <p>
            @Model.offer.offerTags
        </p>
        @Html.ActionLink("Envia un missatge a l'usuari", "OfferChat", new { Model.offer.offerID }, new { @class = "btn btn-default btn-lg" })
        @Html.ActionLink("Veure el perfil d'aquest usuari", "UserShow", "User", new { id = Model.offer.userID }, new { @class = "btn btn-default btn-lg" })
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-4">
        @foreach (var offer in Model.similarOffers)
        {
            <div class="content round resize">
                <img class="img-rounded" style="align-self:center" src=@Url.Content("~/Content/Images/" + offer.offerImagePath) width="150" />
                <h3>@Html.ActionLink(offer.offerName, "OfferShow", "Offer", new { id = offer.offerID }, null) <small></small></h3>
                <p>@offer.offerDescription</p>
            </div>
            <br />
        }
    </div>
</div>