﻿@model BancoTiempoApp.Models.OfferListModel

@{
    ViewBag.Title = "Busca una oferta";
}

<h2>Llista d'ofertes</h2>

<section class="container">
    <div class="row">
        @foreach (var offer in Model.Offers)
        {
            <div class="col-md-3 content round">
                <a href="@Url.Action("OfferShow", new { id = offer.offerID })">
                    <h6>@offer.offerName</h6>
                    <div class="resize">
                        <img class="img-rounded" src=@Url.Content("~/Content/Images/" + offer.offerImagePath) width="260" />
                    </div>
                    <p>@offer.offerDescription</p>
                </a>
            </div>
            <div class="col-md-1"></div>
        }
    </div>
</section>
@using (Html.BeginForm("OfferList", "Offer", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        @Html.EditorFor(model => model, new { htmlAttributes = new { @class = "form-control", @rows = "10" } })
        <input name="SubmitOfferSearchButton" type="submit" value="Busca" class="form-control" />
    </div>
}