﻿@model BancoTiempoApp.Models.OwnOfferShowModel

@{
    ViewBag.Title = Model.offer.offerName;
}

<div class="row">
    <div class="col-sm-6">
        <h1>@Model.offer.offerName</h1>
        <img class="img-rounded" src=@Url.Content("~/Content/Images/" + Model.offer.offerImagePath) width="400" />
        <div class="small">@Html.ActionLink("Edit offer ", "EditOffer", "Offer", new { id = Model.offer.offerID }, null)<span class='glyphicon glyphicon-pencil'></span></div>
        <p>@Model.offer.offerDescription</p>
        <p>@Model.offer.offerTags</p>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-4">
        @foreach (var demand in Model.similarDemands)
        {
            <a href="@Url.Action("DemandShow","Demand", new { id = demand.demandID})">
                <div class="content round resize">
                    <img class="img-rounded" style="align-self:center" src=@Url.Content("~/Content/Images/" + demand.demandImagePath) width="150" />
                    <h3>@demand.demandName</h3>
                    <p>@demand.demandDescription</p>
                </div>
            </a>
            <br />
        }
    </div>
</div>

