﻿@model WebApplication2.Models.SubmitOfferModel

@{
    ViewBag.Title = "Crea una oferta";
}

<div class="row">
    <div class="col-sm-5 content round">
        <h2>Crea una oferta</h2>
        @using (Html.BeginForm("OfferSubmitted", "Offer", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-group" }))
        {

            @Html.EditorFor(model => model, new { htmlAttributes = new { @class = "form-control", @rows = "10" } })
            <label for="file">Puja una imatge:</label>
            <input type="file" name="file" id="file" style="width: 100%" required accept="images/*" />
            <input name="SubmitOfferButton" type="submit" value="Submit Offer" class="form-control" />
        }
    </div>
    <div class="col-sm-3"></div>
    <div class="col-sm-4">
        <h3>Veiem que tens alguna cosa que oferir</h3>
        <small>Per què no busques també entre les demandes existents?</small>
        @using (Html.BeginForm("SearchDemand", "Demand", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="form-group">
                <input type="text" placeholder="Busca una demanda" id="demandSearch" name="demandSearch" class="form-control" />
                <input name="SubmitDemandSearchButton" type="submit" value="Buscar" class="form-control" />
            </div>
        }
    </div>
</div>
