﻿@{
    ViewBag.Title = "Contacte";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
@using (Html.BeginForm("SendContactEmail", "Home", FormMethod.Post, new { @class = "form-group input-lg" }))
{
    <div class="col-sm-8 content round">
        <input type="text" name="subject" placeholder="Resum en poques paraules el que necessites" id="subject" class="form-control" />
        <textarea id="body" name="body" placeholder="Explica amb detall el teu problema o pregunta." rows="15" class="form-control"></textarea>
        <div class="col-sm-4">
            <input type="submit" name="ContactSubmitButton" class="btn btn-default content form-control btn-sm" />
        </div>
    </div>
}