﻿@model BancoTiempoApp.Models.IndexModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center content" style="background-image:url('~/Content/Images/LogoCommunitime2912360108006031010.png')">
    <div class="row">
        <div class="col-md-3">
            <span class="glyphicon big-glyphicon glyphicon-time"></span>
        </div>
        <div class="col-md-6">
            <h1>CommuniTime</h1>
            <p>Tothom és un expert</p>
        </div>
        <div class="col-md-3">
            <span class="glyphicon big-glyphicon glyphicon-time"></span>
        </div>
    </div>
</div>
<br />
<br />

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h2>A què et dediques?</h2>
            <h4>Sigui quina sigui la teva professió, nosaltres a CommuniTime estem segurs que tothom té com a mínim una qualitat (pot estar relacionada amb la professió, pot ser un hobby, etc.) què pot resultar profitosa per moltes persones. És per això que t'animem a oferir el teu talent a la resta d'usuaris de la pàgina.</h4>
            <p>Quan ningú et ve a comprar, el millor és anar a vendre't. Si quan hagis pujat la oferta ningú contacta amb tu, pots provar a buscar una demanda amb el cercador de demandes, o pots mirar les demandes recomenades a la pàgina de la teva oferta.</p>
            @Html.ActionLink("Crea una oferta", "SubmitOffer", "Offer",null, new { @class="btn btn-default content"})       
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-send big-glyphicon"></span>
        </div>
    </div>
</div>
<br />
<br />

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-search big-glyphicon"></span>
        </div>
        <div class="col-sm-8">
            <h2>Què necessites?</h2>
            <h4>Per altra banda, també som conscients que ningú és un expert en tot. Per això tens a la teva disposició tota la base d'usuaris de CommuniTime, formada 100% d'experts en una àmplia varietat de camps. Si necessites res, prova amb el cercador d'ofertes.</h4>
            <p>Si no trobes res, pots provar a crear una demanda. Si algú pot oferir el que vols t'enviarà un missatge quan vegi la teva demanda.</p>
            @Html.ActionLink("Crea una demanda","SubmitDemand","Demand", null, new { @class="btn btn-default content"})
        </div>
    </div>
</div>
<br />
<br />

<div class="container-fluid text-center">
    <div class="row">
        <div class="col-sm-5 round" style="background-color:white">
            <div id="Carousel1" class="carousel slide text-center">
                <ol class="carousel-indicators">
                    <li data-target="#Carousel1" data-slide-to="0" class="active"></li>
                    @for (int i = 1; i < Model.demands.Count; i++)
                    {
                        <li data-target="#Carousel1" data-slide-to=@i.ToString()></li>
                    }
                </ol>

                <div class="carousel-inner" role="listbox">
                    @foreach (var demand in Model.demands)
                    {
                        if (Model.demands.IndexOf(demand) == 0)
                        {
                            <div class="item active">
                                <h1><span class="glyphicon glyphicon-user logo-small"></span></h1>
                                <h4>@demand.demandName</h4>
                                <h5>@demand.demandDescription</h5>
                            </div>
                        }
                        else
                        {
                            <div class="item">
                                <h1><span class="glyphicon glyphicon-user logo-small"></span></h1>
                                <h4>@demand.demandName</h4>
                                <h5>@demand.demandDescription</h5>
                            </div>
                        }
                    }
                </div>
                <a class="left carousel-control" href="#Carousel1" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#Carousel1" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            @using (Html.BeginForm("SearchDemand", "Demand", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="form-group">
                    <input type="text" placeholder="Search for a demand" id="demandSearch" name="demandSearch" class="form-control" />
                    <input name="SubmitDemandSearchButton" type="submit" value="Search for a demand" class="form-control" />
                </div>
            }
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5 round" style="background-color:white">
            <div id="Carousel2" class="carousel slide text-center">
                <ol class="carousel-indicators">
                    <li data-target="#Carousel2" data-slide-to="0" class="active"></li>
                    @for (int i = 1; i < Model.demands.Count; i++)
                    {
                        <li data-target="#Carousel2" data-slide-to=@i.ToString()></li>
                    }
                </ol>
                <div class="carousel-inner" role="listbox">
                    @foreach (var offer in Model.offers)
                    {
                        if (Model.offers.IndexOf(offer) == 0)
                        {
                            <div class="item active">
                                <h1><span class="glyphicon glyphicon-user logo-small"></span></h1>
                                <h4>@offer.offerName</h4>
                                <h5>@offer.offerDescription</h5>
                            </div>
                        }
                        else
                        {
                            <div class="item">
                                <h1><span class="glyphicon glyphicon-user logo-small"></span></h1>
                                <h4>@offer.offerName</h4>
                                <h5>@offer.offerDescription</h5>
                            </div>
                        }
                    }
                </div>
                <a class="left carousel-control" href="#Carousel2" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#Carousel2" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            @using (Html.BeginForm("SearchOffer", "Offer", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <input type="text" placeholder="Search for an offer" id="offerSearch" name="offerSearch" class="form-control" />
                <input name="SubmitOfferrSearchButton" type="submit" value="Search for an offer" class="form-control" />
            }
        </div>
    </div>
</div>
<br />
<br />


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h2>Tens cap problema? Una pregunta?</h2>
            <h4>Contacta amb nosaltres</h4>
            <h5>Correu: suportcommunitime@gmail.com</h5>
            <h5>O també pots contactar amb nosaltres via aquesta pàgina web.</h5>
            @Html.ActionLink("Contacta","Contact","Home", null, new { @class = "btn btn-default content" })
        </div>
    </div>
</div>
